#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.leaflet-marker-icon, .leaflet-marker-shadow {
    transition: transform 0.25s ease;
    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    -moz-transition: transform 0.25s ease;
}

.adlabel {
    color:rgb(148, 0, 0) !important; 
    text-decoration:underline;
}

.asnlabel {
    color:rgb(24, 24, 24) !important; 
    text-decoration:none;
}
