<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>CONNVIS Real Time Network Monitoring and Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

    <style>
		.vislink {
			min-width: 15em;
			display: inline-block;
			text-decoration: none;
			font-weight: bold;
		}
		
	</style>

</head>
<body>

	<h1>CONNVIS Real Time Network Monitoring and Visualizer</h1>
	<br/>
	<a class="vislink" href="sankey/index.html">Local device to destinations</a> (<a href="sankey.json">json</a>)
	<br/>
	<a class="vislink" href="geo/index.html">Targets on a world map</a> (<a href="geo.json">json</a>)
	<br/>
	<a class="vislink" href="dnsbar/index.html">Popular and recent domains</a> (<a href="dnsbar.json">json</a>)
	<br/>
	<a class="vislink" href="conntrack/index.html">Connection list</a> (<a href="conntrack.json">json</a>)
	<br/>
	<a class="vislink" href="activity/index.html">Device last activity</a> (<a href="deviceactivity.json">json</a>)
	<br/>
	<br/>
	<a href="/ipinfo.json">IP info</a>

	<br/>
	<a href="/ipdomainquerymappingshort.json">Domain info</a>

	<br/>
	<br/>
	<br/>
	<br/>
	<hr>
	 <small>This site or product includes IP2Location LITE data available from <a href="https://lite.ip2location.com">https://lite.ip2location.com</a>.</small>
</body>
</html>


